@import 'config';
@import 'utilities';

/*** GLOBAL STYLES ***/

html,

body {
  background: url(../img/Brickwall_bkgd.png);
  width: 100vw;
  height: 100vh;
  font-size: 62.5%;
  font-family: $font-stack;
  margin: 0px;
}

* {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  font-size: 100%;
}

.centered {
  text-align: center;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/*** NAV ***/
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin: auto;
  z-index: 1;
  width: 100%;
  background-color: $primary-color;
  padding: 2rem;
}

.nav-items {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  font-size: 30px;
  width: 30rem;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.nav-items a:hover {
  color: #ffd700;
}

.nav-bar .left-upper-corner-brick {
  position: absolute;
  top: -10rem;
  bottom: 20rem;
  left: -20rem;
  right: 0;
  width: 35%;
}

.nav-bar>img {
  position: absolute;
  top: 0rem;
  bottom: 20rem;
  left: 2rem;
  right: 0;
  width: 5%;
}

@keyframes turn-icon-animation {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.blue-drip {
  animation: 0.6s ease-in-out turn-icon-animation;
}

.overlay-house-icon>a>img {
  position: absolute;
  width: 3%;
  left: 3.6rem;
  margin-top: -2rem;
}

.hamburger {
  display: none;
}

.closebtn {
  display: none;
}

.sub-nav-content {
  display: none;
}

.nav-items .mobile-projects {
  display: none;
}

/*** HERO ***/

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.kelly-graffiti-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 80vw;
  margin-top: 15rem;
}

.kelly-graffiti-name .hero-brick {
  position: absolute;
  width: 75%;
}

.kelly-graffiti-name>img {
  position: relative;
  width: 80%;
}

.intro {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  text-indent: 5rem;
}

@keyframes typing {
  from {
      width: 0;
      color: #0000ff;
  }
}

.kelly-graffiti-name h2 {
  animation: typing 2s steps(51, end), blink-caret 12s step-end infinite alternate;
  overflow: hidden;
  width: 45ch;
  white-space: nowrap;
}

.animate {
  opacity: 1;
  transform: translateX(0);
}

h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

h4 {
  font-size: 25px;
  margin-bottom: 5rem;
  text-align: center;
}

.kelly-face-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 20vw;
}

.kelly-face-img>img {
  width: 100%;
  margin-top: 5rem;
}

.side-right-brick {
  display: none;
}

/*** ABOUT ME ***/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
  /*aligned with .kelly-graffiti-name>h1 just right above in the hero section*/
}

.about-me-title>img {
  width: 50%;
}

.about-me>p {
  font-size: 30px;
  margin-bottom: 2rem;
  background-color: #ffffff;
}

.blog {
  color: #0000ff;
  text-decoration: underline;
  font-size: 30px;
  font-weight: bold;
}

.fitness {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;
  margin-top: 5rem;
  /*margin set to this so it's not hidden behind the upper corner left brick*/
}

.frontend {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

/* @keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.fitness{
  animation: 1s ease-in slidein;
}

@keyframes slideout {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

.frontend{
  animation: 1s ease-out slideout;
} 
 */

.scroll {
  opacity: 0;
  transition: all 0.5s; 
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  transform: translateX(0);
}

.side-left-brick {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.side-left-brick>img {
  margin-top: -15rem;
  margin-bottom: -10rem;
  width: 22%;
}

/*** PROJECTS ***/
.carousel-container-content {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.projects {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem;
}

.projects>img {
  width: 35%;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  align-self: center;
  scroll-snap-type: x proximity;
  scroll-behavior: smooth;
  width: 2500px;
  margin-bottom: 5rem;
  overflow-x: scroll;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carousel-column {
  display: none;
}

.main-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 245px;
  height: 500px;
  background: #000000;
  border: 3px solid #000000;
}

.main-slide>img {
  height: 100%;
}

.slide-show {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: flex-start;
  padding-left: 4rem;
  padding-right: 4rem;
}

.slide-show>h1 {
  font-size: 25px;
  margin-bottom: 5rem;
  text-align: center;
  text-indent: 0;
}

.slide-show>p {
  font-size: 20px;
  margin-bottom: 5rem;
}

.cta-btn-case-study {
  color: #ffffff;
  background-color: $secondary-color;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 25px 10px 25px;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.right-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.right-arrow>img {
  width: 30%;
  height: 40%;
  cursor: pointer;
}

.left-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-arrow>img {
  width: 30%;
  height: 40%;
  cursor: pointer;
}

.indicator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-end;
  cursor: pointer;
}

.btn img {
  height: 25px;
  width: 25px;
  margin: 4px;
  transition: 0.3s;
}

.indicator .btn:hover {
  background: #ffd700;
}

/*** CONTACT ***/
.inquiry-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10rem;
}

.contact>img {
  width: 35%;
  margin-top: 5rem;
}

input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 15px;
  padding: 20px 20px 20px 20px;
  margin: 15px 0px;
  border: 1px solid #000000;
  width: 40rem;
  background-color: #fafad2;
}

input[type=message] {
  padding: 20px 20px 180px 20px;
}

input[type=submit] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  color: #ffffff;
  background-color: $secondary-color;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/**FOOTER**/
.right-brick {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.right-brick>img {
  margin-top: -30rem;
  width: 20%;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $primary-color;
  width: 100%;
  padding: 2rem;
}

.social-media-icons>a>img {
  width: 40px;
}

/** MEDIA QUERIES **/
/** Tablet Landscape **/
@media screen and (max-width: 1366px) {

  /** Nav **/
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-bar .left-upper-corner-brick {
    top: -8rem;
    width: 40%;
  }

  .nav-bar>img {
    width: 7%;
  }

  .overlay-house-icon>a>img {
    width: 4%;
    margin-top: -2rem;
    margin-left: 0.3rem;
  }

  /** Menu **/
  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .bar {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
  }

  .menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000e6;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }

  .closebtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 0;
    right: 50px;
    margin-top: 3rem;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .nav-items>a {
    font-size: 40px;
    margin-top: 5rem;
  }

  .nav-items .mobile-projects {
    display: none;
  }

  .nav-items .desktop-projects {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 30rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }

  .sub-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
  }

  .sub-nav-content>a {
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
    color: #ffd700;
  }

  .dropdown .dropbtn {
    font-size: 40px;
    margin-top: 5rem;
  }

  .dropbtn>i {
    display: none;
  }

  .dropdown .dropdown-content>a {
    display: none;
  }

  /** Hero **/
  .hero {
    margin-top: 0;
  }

  h1 {
    margin-top: 2rem;
  }

  h2 {
    font-size: 35px;
  }

  .kelly-face-img {
    margin-top: 5rem;
  }

  .kelly-graffiti-name>img {
    margin-top: 6rem;
  }

  /** About Me **/
  .fitness {
    margin-top: 10rem;
  }

  /** Projects **/
  .carousel-container {
    scroll-snap-type: x mandatory;
    width: 3500px;
  }

  .slide-show>p {
    font-size: 16px;
  }

  /** Contact **/
  .contact>img {
    margin-top: 5rem;
  }

  input[type=submit] {
    margin-bottom: 15rem;
  }
}

/**Tablet Pro Portrait**/
@media screen and (max-width: 1024px) {

  /** Nav **/
  .nav-bar {
    justify-content: space-between;
  }

  .nav-bar .left-upper-corner-brick {
    top: -10rem;
    width: 60%;
  }

  .nav-bar>img {
    width: 12%;
  }

  .overlay-house-icon>a>img {
    width: 7%;
    margin-top: -2.5rem;
    margin-left: 1rem;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
  }

  .nav-items>a {
    font-size: 40px;
    margin-top: 5rem;
  }

  /** Menu **/
  .hamburger {
    display: flex;
    flex-direction: column;
  }

  .bar {
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
  }

  .menu-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000000e6;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }

  .closebtn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    color: #fff;
    font-size: 50px;
    top: 0;
    right: 50px;
    margin-top: 3rem;
  }

  .sub-nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
  }

  .sub-nav-content>a {
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
    color: #ffd700;
  }

  .dropdown .dropbtn {
    font-size: 40px;
    margin-top: 5rem;
  }

  .dropbtn>i {
    display: none;
  }

  .dropdown .dropdown-content>a {
    display: none;
  }

  /** Hero **/
  .hero {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20rem;
  }

  .kelly-graffiti-name .hero-brick {
    width: 100%;
    position: absolute;
    margin-top: 15rem;
  }

  .kelly-graffiti-name>img {
    position: relative;
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }

  @keyframes turn-icon-animation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .kelly-graffiti-name>img{
    animation: 0.6s ease-in-out turn-icon-animation;
    animation-delay: 1.5s;
  }

  .intro {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: 65px;
    text-align: center;
  }

  @keyframes slidein {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  h1{
    animation: 1s ease-in slidein;
  }

  .kelly-graffiti-name h2 {
    animation: typing 0;
    overflow: hidden;
    width: 23ch;
    white-space: pre-wrap;
  }

  h2 {
    font-size: 60px;
  }

  .kelly-face-img {
    display: none;
  }

  .side-right-brick {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .side-right-brick>img {
    width: 30%;
    margin-bottom: -10rem;
  }

  /** About Me **/
  .blog {
    font-size: 30px;
  }

  .about-me-title {
    margin-top: 0rem;
  }

  .about-me-title>img {
    width: 85%;
  }

  .fitness {
    margin-top: 10rem;
  }

  /** Projects **/
  .projects {
    margin: 0;
  }

  .projects>img {
    margin-top: 20rem;
    margin-bottom: 10rem;
    width: 60%;
  }

  .nav-items .mobile-projects {
    display: none;
  }

  .nav-items .desktop-projects {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 30rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }

  .content-container {
    display: none;
  }

  .carousel-container-content {
    padding: 0;
  }

  .carousel-container {
    scroll-snap-type: x mandatory;
    width: 640px;
  }

  .main-slide {
    height: 600px;
    width: 290px;
    overflow: hidden;
  }

  .slide-show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .slide-show>h4 {
    font-size: 35px;
    margin: 0;
    margin-bottom: 5rem;
    text-align: center;
  }

  .slide-show>p {
    font-size: 20px;
  }

  .cta-btn-case-study {
    font-size: 20px;
  }

  .left-arrow>img {
    display: none;
  }

  .right-arrow>img {
    display: none;
  }

  .side-left-brick {
    display: flex;
  }

  .side-left-brick>img {
    margin-top: -15rem;
    margin-bottom: -10rem;
    width: 30%;
  }

  /** Contact **/
  .contact {
    margin: 0;
  }

  .contact>img {
    width: 60%;
    margin-top: 15rem;
    margin-bottom: 10rem;
  }

  input {
    padding: 30px 30px 30px 30px;
  }

  input[type=message] {
    padding: 30px 30px 200px 30px;
  }

  input[type=submit] {
    padding: 30px 30px 30px 30px;
    margin-bottom: 15rem;
  }

  /** Footer **/
  .right-brick>img {
    width: 25%;
  }
}

/** Tablet Ipad Air Portrait **/
@media screen and (max-width: 844px) {

  /* Nav */
  .nav-bar .left-upper-corner-brick {
    top: -10rem;
    left: -25rem;
    width: 65%;
  }

  .overlay-house-icon>a>img {
    width: 7%;
    margin-top: -2rem;
    margin-left: 0.3rem;
  }

   /* Menu */
  .sub-nav-content>a {
    font-size: 25px;
  }

   /* Hero */
  .hero {
    margin-top: 7rem;
  }

  .kelly-graffiti-name .hero-brick {
    margin-top: 8rem;
  }

  .kelly-graffiti-name>img {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  @keyframes turn-icon-animation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .kelly-graffiti-name>img{
    animation: 0.6s ease-in-out turn-icon-animation;
    animation-delay: 1.5s;
  }

  h1 {
    font-size: 45px;
    margin-left: 4rem;
  }

  @keyframes slidein {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(0%);
    }
  }
  
  h1{
    animation: 1s ease-in slidein;
  }

  .kelly-graffiti-name h2 {
    animation: typing 0;
    overflow: hidden;
    width: 23ch;
    white-space: pre-wrap;
  }

  h2 {
    font-size: 45px;
  }

  /* About Me */
  .fitness {
    margin-top: 10rem;
  }

  .about-me>p {
    font-size: 20px;
  }

  .blog {
    font-size: 20px;
  }

  /* Projects */
  .projects>img {
    margin-top: 20rem;
  }
  .nav-items .desktop-projects {
    display: none;
  }

  .nav-items .mobile-projects {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    width: 30rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }

  .carousel-container-content {
    display: none;
  }

  .indicator {
    display: none;
  }

  .ds-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    box-shadow: #0000001a 0px 4px 12px;
    margin-bottom: 4rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
  }

  .content-header {
    display: flex;
    flex-direction: column;
  }

  .carousel-column {
    display: flex;
    flex-direction: row;
  }

  .tower-carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .card-lg {
    min-width: 45%;
    max-width: 45%;
    margin: 1rem;
  }

  .card-lg-img_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/Fitness_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-img_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/DS_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-img_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/SB_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2em 2.5em;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  p {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 1.5em;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }

  .card-lg-content>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  /* Contact */
  .contact {
    padding: 0;
    margin-top: 18rem;
  }

  .contact>img {
    width: 70%;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  input {
    width: 35rem;
  }

  input[type=submit] {
    margin-bottom: 15rem;
  }

  /* Footer */
  .right-brick>img {
    display: flex;
    margin-top: -20rem;
    margin-bottom: 2rem;
    width: 20%;
  }

  .social-media-icons>a>img {
    width: 25px;
  }
}

/**Mobile Portrait**/
@media screen and (max-width: 480px) {

  /* nav */
  .nav-bar .left-upper-corner-brick {
    top: -5rem;
    left: -15rem;
    width: 85%;
  }

  .overlay-house-icon>a>img {
    width: 12%;
    margin-top: -2rem;
    margin-left: -1.5rem;
  }

  .nav-bar>img {
    margin-left: -1rem;
    margin-top: 1rem;
    width: 17%;
  }

  .closebtn {
    font-size: 40px;
  }

  .nav-items>a {
    font-size: 30px;
  }

  .sub-nav-content {
    margin-top: -1rem;
  }

  .sub-nav-content>a {
    font-size: 20px;
  }

  /* hero */
  .hero {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }

  .kelly-graffiti-name .hero-brick {
    margin-top: 5rem;
  }

  .kelly-graffiti-name>img {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  @keyframes turn-icon-animation {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .kelly-graffiti-name>img{
    animation: 0.6s ease-in-out turn-icon-animation;
    animation-delay: 1.5s;
  }

  h1 {
    font-size: 25px;
    text-indent: 0;
    margin-left: 4rem;
    margin-top: -1rem;
  }

  @keyframes slidein {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

h1{
  animation: 1s ease-in slidein;
}
  
  .kelly-graffiti-name h2 {
    animation: typing 0;
    overflow: hidden;
    width: 20ch;
    white-space: wrap;
  }

  h2 {
    font-size: 30px;
  }

  .side-right-brick {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .side-right-brick>img {
    width: 40%;
    margin-top: 2rem;
  }

  /* about me */
  .about-me {
    padding: 3rem;
  }

  .about-me-title>img {
    width: 100%;
  }

  .blog {
    font-size: 20px;
  }

  .about-me>p {
    font-size: 20px;
  }

  .fitness {
    margin-top: 10rem;
  }

  .side-left-brick>img {
    margin-top: -3rem;
    width: 45%;
  }

  /* projects */
  .projects {
    margin-top: 2rem;
  }

  .projects>img {
    width: 70%;
    margin-top: 10rem;
    margin-bottom: 5rem;
  }

  .nav-items .desktop-projects {
    display: none;
  }

  .nav-items .mobile-projects {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: 30rem;
    text-decoration: none;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }

  .carousel-container-content {
    display: none;
  }

  .indicator {
    display: none;
  }

  .ds-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #e9e9e9;
    box-shadow: #0000001a 0px 4px 12px;
    margin-bottom: 4rem;
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
  }

  .content-header {
    display: flex;
    flex-direction: column;
  }

  .carousel-column {
    display: flex;
    flex-direction: row;
  }

  .tower-carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
  }

  .card-lg {
    min-width: 75%;
    max-width: 75%;
    margin: 1rem;
  }

  .card-lg-img_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/Fitness_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-img_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/DS_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-img_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 250px;
    max-height: 200px;
    width: 100%;
    color: #fff;
    background: url(../img/SB_Card_Stub.png);
    background-color: #000000;
    background-size: cover;
  }

  .card-lg-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 2em 2.5em;
  }

  h5 {
    font-size: 20px;
    margin-bottom: 2rem;
  }

  p {
    font-size: 15px;
    line-height: 1.2;
    margin-bottom: 1.5em;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-color;
    color: #ffffff;
    padding: 1rem 2rem;
    font-size: 15px;
    font-weight: bold;
    border: none;
  }

  .card-lg-content>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  /* contact */
  .contact {
    padding: 0;
    margin: 0;
  }

  .contact>img {
    width: 70%;
    margin-top: 12rem;
    margin-bottom: 5rem;
  }

  input {
    width: 35rem;
  }

  input[type=submit] {
    margin-bottom: 15rem;
  }

  /* footer */
  .right-brick>img {
    display: flex;
    margin-top: -12rem;
    margin-bottom: 2rem;
    width: 20%;
  }

  .social-media-icons>a>img {
    width: 25px;
  }
}